button{
font-size: 20px;
width: 100px;
height: 100px;
background-color: #CCFF33;
}

div{
width: 300px;
height: 40px;
border: 1px;
font-size: 30px;
border-style: groove;
/*background-color: white;*/
color: black;
}

.background{
  /*background-image: url(http://i.imgur.com/454PxZ8.jpg);*/
  background-color: #33FFCC;
  width: 400px;
  height: 500px;
}

.display{
  background-color: #CCFFFF;
  margin: 0 auto;
}

.numbers{
  background-color: #FFFF33;
}

.operators{
width: 50px;
height: 50px;
background-color: #9966CC;
}

#clear {
  background-color: #FF6666;
}

.container{
margin: 0 auto;
padding: 0;
width: 320px;
height: 400px;
border: 0;
/*background-color: #66FF99;*/
}
